.main {
  display: flex;
  flex: 1;
  height: 869px;
}

.bg-dark {
  background-color: #12002b;
}

.sign-in-button {
  background-color: #00bc77;
  border-color: #00bc77;
  border-style: hidden;
  color: #fff;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 8px;
  width: 100%;
}

.sign-in-content {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  width: 300px;
  height: 380px;
}

.sign-in-icon {
  font-size: 1.1rem;
}

.input-remember {
  display: flex;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
  width: 220px;
}
